*{
  margin: 0px;
  padding: 0px;
}

.wrapper {
  max-height: 854px;
}

.menu {
  padding-top: 40px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-bottom: 110px;
}

.navigation {
  display: flex;
  justify-content: center;
}

.navigation__item {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 30px;
  flex-wrap: wrap;
  position: relative;
  top:30px;
}

.btn {
  font-size: 20px;
  border: none;
  border-radius: 10px;
  max-height: 60px;
  padding: 15px 50px;
}

.btn--navbar {
  color: #FFFFFF;
  background-color: #572BD9;
  margin-top: 10px;
}
.dashboard {
  text-align: center;
}

.dashboard__title {
  color: #FFFFFF;
  font-size: 64px;
  margin-bottom: 20px;
}

.dashboard__text {
  color: #FFFFFF;
  font-size: 20px;
  margin-bottom: 45px;
}

.buttons {
  margin-bottom: 50px;
}

.buttons__btn--get-itnow {
  color: #FFFFFF;
  background-color: #FFDD33;
}

.buttons__btn--play {
  color: #FFFFFF;
  background-color: #572BD9;
}

.dashboard__laptop-img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 130px;
}

.logo-placeholder {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 180px;
}

.dashboard__inkyy-img {
  opacity: 0.1;
}

.banner {
  text-align: center;
}

.banner__title {
  font-size: 64px;
  line-height: 85px;
}

.banner__text {
  color:#7E92AC;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 130px;
}

.cards-complex {
  display: flex;
  justify-content: center;
  margin-bottom: 135px;
}

.card {
  text-align: start;
  padding: 88px 60px;
}

.card--active:hover {
  /* border: solid grey 5px; */
  box-shadow: 0 6px 8px 0 rgba(112,112, 112, 0.4)
}

.card__icon{
  margin-bottom: 25px;
  padding: 12px;
}

.card__title {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 22px;
  text-align: start;
}

.card__text {
  color: #7E92AC;
  font-size: 16px;
  line-height: 26px;
  text-align: start;
}

.feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature__icon{
  /* flex-wrap: wrap; */
  max-width: 700px;
  max-height: 580px;
}

.feature-description {
  margin: 100px 0;
}

.feature-description__title {
  font-size: 64px;
  line-height: 85px;
  margin-bottom: 40px;
}

.feature-description__text {
  color: #7E92AC;
  margin-bottom: 50px;
  max-width: 550px;
}

.feature-description__btn {
  color: #FFFFFF;
  background-color: #572BD9;
}

.motivation-background {
  min-height: 630px;
}

.motivation {
   color: #FFFFFF;
   text-align: center;
}

.motivation__title {
  color: #FFFFFF;
  font-size: 64px;
  line-height: 85px;
  padding-top: 90px;
  margin-bottom: 60px;
}

.motivation__text {
  font-size: 20px;
  line-height: 32px;
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.motivation__btn {
  color: #FFFFFF;
  background-color: #FFDD33;
}

